# ##############################################################################

# iCEcube PCF

# Version:            v1

# Author:			  Dan McGraw, dpm39

# File Generated:     Feb 11 2018 21:15:04

# Family & Device:    iCE40HX4K

# Package:            TQ144

# ##############################################################################

###Master Clock
set_io i_clock50 128

###HDMI Input
set_io i_hSync 107 
set_io i_mosi 106
set_io i_sck 105
set_io i_vSync 104
set_io o_debug[0] 102
set_io o_debug[1] 101
set_io o_debug[2] 99


###HDP Output
set_io o_lcdData[0] 139
set_io o_lcdData[1] 143
set_io o_lcdData[2] 2
set_io o_lcdData[3] 7
set_io o_lcdData[4] 10
set_io o_lcdData[5] 15
set_io o_lcdData[6] 18
set_io o_lcdData[7] 23
set_io o_lcdData[8] 26
set_io o_lcdData[9] 31
set_io o_lcdData[10] 34
set_io o_lcdData[11] 33
set_io o_lcdData[12] 32
set_io o_lcdData[13] 29
set_io o_lcdData[14] 28
set_io o_lcdData[15] 25
set_io o_lcdData[16] 24
set_io o_lcdData[17] 22
set_io o_lcdData[18] 19
set_io o_lcdData[19] 17
set_io o_lcdData[20] 16
set_io o_lcdData[21] 12
set_io o_lcdData[22] 11
set_io o_lcdData[23] 9
set_io o_lcdData[24] 8
set_io o_lcdData[25] 4
set_io o_lcdData[26] 3
set_io o_lcdData[27] 1
set_io o_lcdData[28] 144
set_io o_lcdData[29] 142
set_io o_lcdData[30] 141
set_io o_lcdData[31] 138
set_io o_valid 39
set_io o_sync 41
set_io o_update 42
set_io o_invert 38
###set_io o_nReset 130 ###This is the correct pin for the v2 PCB, v1 PCBs use the UART RX line as easier to bodge wire to!
set_io o_nReset 116
set_io o_lcdClock 37

###UART
set_io o_debug[3] 115 ###UART TX Pin
###set_io i_uartRx 116 ###Used for reset pin as forgot trace on v1 PCB

###SPI
set_io o_sen 135
set_io o_sck 136
set_io o_sdat 134
set_io i_sout 137

###Debug
set_io o_active 112
set_io i_shutdown 110
set_io o_debug[5] 113 ###FIFO Full Pin
set_io o_debug[4] 114 ###FIFO Empty Pin



